#!/usr/bin/python
import sys
import logging
logging.basicConfig(stream=sys.stderr)
sys.path.insert(0,"PATH/TO/THE/DIRECORY/THAT/CONTAINS/THE/testapp/FOLDER/")

from testapp import app as application
application.secret_key = 'Add your secret key'
