.button-top {
	margin-top: 10px;
	margin-right: 10px;
	padding: 14px 21px;
	font-size: 14px;
	line-height: 100%;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	color: #fff;
	display:inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	transition: background 0.1s ease-in-out;
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	-ms-transition: background 0.1s ease-in-out;
	-o-transition: background 0.1s ease-in-out;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
.button-top:active {
	padding-top: 15px;
        margin-bottom: -1px;
}
.button-top, .button-top:hover, .button-top:active {
	outline: 0 none;
	text-decoration: none;
	color: #fff;
}


.button-top-1 {
	background-color: #3fb8e8;
	opacity: 0.4;
	box-shadow:0 3px 0 0 #3293ba;

}

.button-top-1:hover {
	background-color: #1baae3;
	opacity: 1;
}

.button-top-2 {
	background-color: #f06060;
	opacity: 0.4;
	box-shadow: 0 3px 0 0 #cd1313;
}

.button-top-2:hover {
	background-color: #ed4444;
	opacity: 1;
}

.button-top-selected {
    opacity: 1;
}

html {
    height: 97%;
}

body {
	padding: 0;
	height:100%;
    width: 99%;
	background: -webkit-linear-gradient(#EEEEFF, #FFFFFF); /* For Safari */
	background: -o-linear-gradient(#EEEEFF, #FFFFFF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#EEEEFF, #FFFFFF); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#EEEEFF, #FFFFFF); /* Standard syntax */
	background-repeat: no-repeat;
	background-color: #FFFFFF;
	}


#map {
	position: relative;
	min-height:500px;
	height: 100%;
	}

#buttons-holder{
	margin: 0 auto;
	position: relative;
	width: 97%;
}

#buttons {
    margin-left: 40px;
    width: 95%;
    z-index: 100;
    position: absolute;
    align:top;
	}


h4 {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.infotext{
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	padding-bottom: 4px;
	display: block;
}

.info {
	padding: 4px 14px;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 16px ;
	font-weight: 300;
	background: white;
	background: rgba(255,255,255,0.7);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}

.legend {
	padding: 4px 14px;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 16px ;
	font-weight: 300;
	background: white;
	background: rgba(255,255,255,0.7);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}

#gradient
{
	float:left;
	background: -webkit-linear-gradient(rgba(0,255,0,0.6), rgba(51,255,0,0.6), rgba(102,255,0,0.6), rgba(153,255,0,0.6), rgba(204,255,0,0.6), rgba(255,255,0,0.6), rgba(255,204,0,0.6), rgba(255,153,0,0.6), rgba(255,102,0,0.6), rgba(255,51,0,0.6), rgba(255,0,0,0.6)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgba(0,255,0,0.6), rgba(51,255,0,0.6), rgba(102,255,0,0.6), rgba(153,255,0,0.6), rgba(204,255,0,0.6), rgba(255,255,0,0.6), rgba(255,204,0,0.6), rgba(255,153,0,0.6), rgba(255,102,0,0.6), rgba(255,51,0,0.6), rgba(255,0,0,0.6)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgba(0,255,0,0.6), rgba(51,255,0,0.6), rgba(102,255,0,0.6), rgba(153,255,0,0.6), rgba(204,255,0,0.6), rgba(255,255,0,0.6), rgba(255,204,0,0.6), rgba(255,153,0,0.6), rgba(255,102,0,0.6), rgba(255,51,0,0.6), rgba(255,0,0,0.6)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(rgba(0,255,0,0.6), rgba(51,255,0,0.6), rgba(102,255,0,0.6), rgba(153,255,0,0.6), rgba(204,255,0,0.6), rgba(255,255,0,0.6), rgba(255,204,0,0.6), rgba(255,153,0,0.6), rgba(255,102,0,0.6), rgba(255,51,0,0.6), rgba(255,0,0,0.6)); /* Standard syntax */
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	width:15px;
	height:100px;
}

#legendMaxMin{
	float: right;
}

#max{
	padding: 0 0 0 13px;
	position:relative;
	vertical-align: text-top;
	top: -15px;
}

#min{
	padding: 0 0 0 13px;
	position:relative;
	vertical-align: text-bottom;
	bottom: -15px;
}

.bar-containers{
	width:500px;
}

.mpsdiv {
	float:right;
	overflow-y: scroll;
	overflow-x: none;
	height: 99%;
}

.constdiv {
	/*float:left;*/
	overflow-y: none;
	overflow-x: none;
	/*position: absolute;*/
	/*float: left;*/
}